*:before,
*,
*:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


html {
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    width: 8px;                
    height: 8px;               
}

::-webkit-scrollbar-thumb {
    background-color: #515151;     
    border-radius: 6px;         
    border: 2px solid #ccc;     
}

::-webkit-scrollbar-track {
    background-color: #ffffff;  
    border-radius: 6px;
}

@-moz-document url-prefix() {
    html {
        scrollbar-width: thin;
        scrollbar-color: #515151 #ddd;
    }
}

h1 {
    font-size: 2rem;
}

h2 {
    font-size: 1.8rem;
}

h1,
h2 {
    margin: 1em;
}

ul {
    margin: 1em;
}

li {
    margin: 8px 16px;
    font-size: 1.3rem;
    list-style-type: none;
    cursor: pointer;
    padding: 4px;
    border-radius: 12px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    word-wrap: break-word;
    word-break: break-word;
    gap: 4px;
    transition: background-color 0.15s;
}

li:hover {
    background-color: rgb(204, 204, 204);
}

img {
    max-width: 100%;
    height: auto;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    max-height: 100vh;
    max-height: 100dvh;
    overflow: hidden;
    overflow-y: auto;
}

.container {
    width: 100vw;
    height: 100vh;
    height: 100dvh;
    display: grid;
    grid-template-rows: auto 1fr;

}

.header img {
    max-width: 5rem;
    margin-left: 1.2em;
}

.header h1 {
    margin-left: 12px;
}

.header {
    padding: 8px 0;
    width: 100%;
    background-color: rgb(184, 184, 184);
    display: flex;
    align-items: center;
    font-family: "Alfa Slab One", serif;
    font-weight: 400;
    font-style: normal;
    justify-content: space-between;
}

.logo {
    display: flex;
    margin-left: 20px;
    align-items: center;
}

.sidebar {
    background-color: rgba(235, 235, 235, 0.9);
    border-right: 4px solid rgb(184, 184, 184);
    position: relative;
    height: 100%;
}

.calendar {
    width: 1.4rem;
}

.main {
    width: 100vw;
    display: grid;
    grid-template-columns: 300px 1fr;
    position: relative;
    overflow: hidden;
}

.content {
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: auto;
}

.tasks {
    margin: 8px 20px;
    width: 95%;
    height: 48px;
    background-color: rgb(245, 245, 245);
    border: 2px solid black;
    display: flex;
    align-items: center;
    gap: 4px;
    border-radius: 2px;
    position: relative;
}

.checkbox {
    margin: 0 6px 0 16px;
    width: 20px;
    height: 20px;
    border: 2px solid pink;
    border-radius: 50%;
    cursor: pointer;
}

.task-title {
    font-size: 22px;
}

.title {
    margin-top: 12px;
}

.details {
    padding: 6px 14px;
    border: 1px solid green;
    color: rgb(2, 169, 157);
    background-color: white;
    font-weight: bold;
    border-radius: 2px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.15s, color 0.15s;
    position: absolute;
    left: 70%;
}

.details:hover {
    background-color: rgb(2, 169, 157);
    color: white;
}

.date {
    position: absolute;
    left: 83%;
    color: rgb(47, 17, 17);
}

.modify-btn {
    width: 32px;
    height: auto;
    cursor: pointer;
    position: absolute
}

.edit {
    left: 92%;
}

.delete {
    left: 96%;
}

.task-title-div {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 58ch;
}

.add {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 1px solid rgb(112, 112, 112);
    box-shadow: 0px 0px 5px black;
    position: absolute;
    top: 85%;
    left: 39%;
    cursor: pointer;
    transition: box-shadow 0.15s;
}

.add:hover {
    box-shadow: 0px 0px 5px 3px rgb(107, 107, 107);
}

.navigation {
    background: none;
    border: none;
    color: rgb(0, 0, 0);
    font-size: 32px;
    cursor: pointer;
    margin-right: 40px;
    display: none;
}

.navigation img {
    width: 32px;
    height: auto;
    margin: 10px 0 0 0;
}


.projects{
    height: 200px;
    overflow-x: hidden;
    overflow-y: scroll;
}

.task-container{
    display: flex;
    align-items: center;
    width: 100%;
    flex-direction: column;
}
.empty-project{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 90%;
    text-align: center;
}
.empty-project-btn{
    margin: 16px;
    padding: 4px 8px;
    font-size: 16px;
    border-radius: 2px;
    cursor: pointer;
    font-weight: bold;
}

#add-task{
    border: 1px solid green;
    color: rgb(2, 169, 157);
    background-color: white;
    transition: background-color 0.15s, color 0.15s;
}

#add-task:hover {
    background-color: rgb(2, 169, 157);
    color: white;
}

#del-project{
    border: 1px solid rgb(215, 0, 0);
    color: rgb(215, 0, 0);
    background-color: white;
    transition: background-color 0.15s, color 0.15s;
}

#del-project:hover {
    background-color: rgb(215, 0, 0);
    color: white;
}

.detail-container{
    background-color: rgb(80, 79, 79);
    border: 4px solid black;
    color: white;
    width:90%;
    max-width: 600px;
    min-height: 200px;
    max-height: 90vh;
    border-radius: 5px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
}

#close-details {
    padding: 0;
    background-color: transparent;
    border: none;
    margin-right:10px;
    margin-top: 5px;
    cursor: pointer;
    height: 32px;
    width: 32px;
    position: absolute;
    left: 90%;
}

.detail-card{
    display: flex;
    position: relative;
    min-width: 100%;
    min-height: 100%;
    flex-grow: 1;
    text-align: center;
    align-items: center;
    flex-direction: column;
}

.detail-heading h2{
    margin: 5px;
}
.detail-heading{
    width: 80%;
    word-wrap: break-word; 
    white-space: normal; 
    overflow-wrap: break-word; 
}
.detail-content{
    text-align: left;
    word-wrap: break-word; 
    white-space: normal; 
    overflow-wrap: break-word; 
    overflow-y: scroll;
    width: 100%;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.detail-content p{
    margin: 6px;
}

.High{
    color:rgb(255, 30, 30);
}
.Medium{
    color:rgb(234, 113, 0);
}
.Low {
    color: rgb(2, 120, 45);
}

@media (max-width:1120px) {
    .task-title {
        font-size: 17px;
    }

    .details {
        font-size: 14px;
        padding: 5px 8px;
    }

    .date {
        font-size: 14px;
    }

    .modify-btn {
        width: 26px;
    }

    .task-title-div {
        width: 44ch;
    }

}

@media (max-width:970px) {
    .sidebar {
        display: none;
        background-color: rgb(235, 235, 235);
    }

    .content {
        width: 100vw;
    }

    .show {
        display: block;
        background-color: rgb(235, 235, 235);
        position: absolute;
        z-index: 1000;
        height: 100%;
    }

    .navigation {
        display: block;
    }
    .sidebar h2{
        margin-bottom: 0;
    }
    .projects{
        height: 160px
    }
}

@media (max-width:670px) {
    .tasks {
        height: 42px;
        gap: 2px;
    }

    .task-title {
        font-size: 14px;
    }

    .details {
        font-size: 12px;
        padding: 5px 6px;
    }


    .date {
        font-size: 12px;
    }

    .modify-btn {
        width: 20px;
    }

    .task-title-div {
        width: 30ch;
    }

    .checkbox {
        width: 16px;
        height: 16px;
        margin-left: 8px;
    }
}

@media (max-width:540px) {
    .details {
        font-size: 10px;
        padding: 2px 4px;
    }

    .detail-heading h2{
        font-size: 1.3rem;
    }

    .date {
        font-size: 10px;
    }

    .modify-btn {
        width: 14px;
    }

    .title {
        font-size: 1.5rem;
    }

    .header img {
        width: 32px;
        height: 64px;
    }

    .header h1 {
        font-size: 1.5em;
    }

    .show {
        width: 100%;
    }

    .sidebar {
        border: none;
    }
}

@media (max-width: 460px) {
    .task-title-div {
        width: 20ch;
    }

    .task-title {
        font-size: 12px;
    }

    .tasks {
        height: 36px;
    }

    .details {
        font-size: 8px;
        padding: 2px 4px;
    }

    .date {
        font-size: 8px;
    }

    .modify-btn {
        width: 12px;
    }

    .checkbox {
        width: 12px;
        height: 12px;
    }

    .sidebar li {
        font-size: 1rem;
    }

    .sidebar h2 {
        font-size: 1.3rem;
    }
}

@media (max-width:320px) {
    .task-title-div {
        width: 12ch;
    }
}