*:before, *, *:after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1{
    font-size: 2rem;
}
h2{
    font-size: 1.8rem;
}
h1,h2{
    margin: 1em;
}
ul{
    margin:1em;
}
li{
    margin:8px 16px;
    font-size: 1.3rem;
    list-style-type:none;
    cursor: pointer;
    padding: 4px;
    border-radius: 12px;
    transition: background-color 0.15s;
}
li:hover{
    background-color: pink;
}
img{
    max-width: 100%;
    height: auto;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
}

.container{
    width: 100vw;
    height: 100vh;
    height: 100dvh;
    display: grid;
    grid-template-rows: auto 1fr;
}
.header img{
    max-width: 5rem;
    margin-left: 1.2em;
}
.header h1{
    margin-left: 12px;
}
.header{
    padding: 4px 0;
    width: 100%;
    background-color: rgb(211, 211, 213);
    display: flex;
    align-items: center;
    font-family: "Alfa Slab One", serif;
    font-weight: 400;
    font-style: normal;
}

.sidebar{
    word-wrap: break-word;
    overflow-wrap: break-word;
    white-space: normal;
    
}

.main{ 
    width: 100vw;
    display: grid;
    grid-template-columns: 300px 1fr;
}

.content{
    background-color: pink;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tasks{
    margin: 8px 20px;
    width: 90%;
    height: 52px;
    background-color: yellow;
    display: flex;
    align-items: center;
    gap: 4px;
}
.checkbox {
    margin: 0 6px;
    width: 24px;
    height: 24px;
    border: 2px solid pink;
    border-radius: 50%;
    cursor: pointer;
}


.title{
    margin-top:12px;
}